body {
    height: 95vh;
}

.stock_navbar {
    font-family: 'Roboto Condensed', sans-serif;
    height: 5vh;
    max-height: 5vh;
    min-height: 5vh;
}

.stock_navbar > div:hover {
    color: #4D774E;
}

.stock_navbar > div {
    width: 100vw;
    text-align: center;
    cursor: pointer;
}

.validation_fixed_width {
    width: fit-content;
    font-size: .75em;
}

#toast-container > div {
    opacity: 1;
}

.content_page {
    min-height: 95vh;
    max-height: 95.1vh;
    overflow-y: auto;
    overflow-x: hidden;
}

:root {
    --main-background-color: #000000;
    --sub1-background-color: #14213d;
    --sub2-background-color: #fca311;
    --sub3-background-color: #e5e5e5;
    --sub4-background-color: #ffffff;
}