body {
    height: 95vh;
}

.stock_navbar {
    font-family: 'Roboto Condensed', sans-serif;
    height: 5vh;
}

.stock_navbar > div:hover {
    color: #4D774E;
}

.stock_navbar > div {
    width: 100vw;
    text-align: center;
    cursor: pointer;
}

.validation_fixed_width {
    width: fit-content;
    font-size: .75em;
}

#toast-container > div {
    opacity: 1;
}