body {
    height: calc(100vh - 44px);
    overflow-y: hidden;
}

.stock_navbar {
    font-family: 'Roboto Condensed', sans-serif;
    height: 5vh;
}

.stock_navbar > div:hover {
    background-color: #d7e9c8;
    color: #202e32;
}

.stock_navbar > div {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.validation_fixed_width {
    width: fit-content;
    font-size: .75em;
}

#toast-container > div {
    opacity: 1;
}

.btn-secondary {
    background-color: #202e32;
}