<div class="main_component">
  <div
    class="d-flex flex-row justify-content-around border border-bottom-1 stock_navbar"
  >
    <div class="p-2" routerLink="/stock-dashboard" routerLinkActive="active">
      <a>Home Page</a>
      <i class="fa-solid fa-house ms-2"></i>
    </div>
    <div
      class="p-2 border border-bottom-0 border-top-0"
      routerLink="/admin"
      routerLinkActive="active"
    >
      <a>Admin</a>
      <i class="fa-solid fa-id-badge ms-2"></i>
    </div>
    <div
      class="p-2 border border-bottom-0 border-top-0 border-left-0"
      routerLink="/trading"
      routerLinkActive="active"
    >
      <a>Stocks</a><i class="fa-solid fa-arrow-trend-up ms-2 fa-beat"></i>
    </div>
    <div
      class="p-2 border border-bottom-0 border-top-0 border-left-0"
      routerLink="/portfolio"
      routerLinkActive="active"
    >
      <a> Portfolio </a
      ><i
        class="fa-solid fa-folder-open ms-2 fa-flip"
        style="--fa-animation-duration: 3s"
      ></i>
    </div>
  </div>
  <div class="position-absolute"><sidebar></sidebar></div>
  <router-outlet class="position-absolute"></router-outlet>
</div>
