.trading_background {
    background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/286300/c33a58cd147d270171996c766b102de411603d89.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}