
.trading_background {
    background-color: var(--main-background-color);
}

.action_btn_text {
    font-size: .75em !important;
}

.amount_slider_width {
    width: calc(100% - 30px);
}

#trading_header {
    background-color: var(--sub2-background-color);
}

#trading_header_title {
    color: black;
    letter-spacing: .05em;
    font-weight: bold;
}

#toggle_buttons {
    width: fit-content;
}

.trading_table {
    height: 50vh;
}