
.trading_background {
    background-color: #164a41;
}

.action_btn_text {
    font-size: .75em !important;
}

.amount_slider_width {
    width: calc(100% - 30px);
}

#trading_header {
    position: relative;
}

#trading_header_title {
    float: left;
    color: white;
    letter-spacing: .05em;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#toggle_buttons {
    float: right;
    width: fit-content;
}