<div
  class="h-100 w-100 d-flex flex-column justify-content-center trading_background"
>
  <div class="w-25 mx-auto rounded p-3" id="trading_header">
    <div class="text-center fs-4" id="trading_header_title">Trading</div>
    <div
      class="d-flex flex-row justify-content-center mt-2 mx-auto p-2 rounded"
      id="toggle_buttons"
    >
      <button
        type="button"
        class="btn px-4 me-2"
        [ngClass]="{
          'btn-primary': isBuying,
          'btn-outline-primary': !isBuying
        }"
        (click)="switchModes()"
      >
        <i class="fa-solid fa-shopping-cart"></i>
      </button>
      <button
        type="button"
        class="btn px-4 ms-2"
        [ngClass]="{
          'btn-success': !isBuying,
          'btn-outline-success': isBuying
        }"
        (click)="switchModes()"
      >
        <i class="fa-solid fa-money-bill"></i>
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8 w-75 mx-auto mt-3" *ngIf="isBuying">
    <table class="w-100" mat-table [dataSource]="stocks">
      <ng-container matColumnDef="Symbol">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Symbol</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.symbol }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Price">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Price</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.price }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Previous Price">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Previous Price
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.oldPrice }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Price Change">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Price Change
        </th>
        <td
          class="text-center"
          mat-cell
          [ngClass]="{
            'text-danger fw-bold':
              calculateDifferenceAndReturnClass(
                element.price,
                element.oldPrice
              ) === 'dec',
            'text-success fw-bold':
              calculateDifferenceAndReturnClass(
                element.price,
                element.oldPrice
              ) === 'inc',
            'text-dark fw-normal':
              calculateDifferenceAndReturnClass(
                element.price,
                element.oldPrice
              ) === 'equal'
          }"
          *matCellDef="let element"
        >
          {{ roundPriceChange(element.price - element.oldPrice) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Total Shares">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Total Shares
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.shares ?? 0 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Volume">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Volume</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.volume ?? 0 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Risk">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Risk</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.risk ?? 0 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          <span *ngIf="isBuying">Buy Stock</span>
          <span *ngIf="!isBuying">Sell Stock</span>
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <button
            class="{{ actionBtnClass }} action_btn_text"
            (click)="fireAction(element)"
            data-bs-toggle="modal"
            data-bs-target="#actionModal"
          >
            {{ generateActionBtnText() }}
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
      <tr mat-row *matRowDef="let row; columns: columndefs"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of stocks"
    ></mat-paginator>
  </div>
  <div class="mat-elevation-z8 w-75 mx-auto mt-3" *ngIf="isBuying === false">
    <table class="w-100" mat-table [dataSource]="ownedStocks">
      <ng-container matColumnDef="Symbol">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Symbol</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.symbol }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Amount">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Amount</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.amount }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Sell">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          <span>Sell Stock</span>
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <button
            class="{{ actionBtnClass }} action_btn_text"
            (click)="fireActionSell(element)"
            data-bs-toggle="modal"
            data-bs-target="#actionModal"
          >
            {{ generateActionBtnText() }}
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="sellingColumnDefs"></tr>
      <tr mat-row *matRowDef="let row; columns: sellingColumnDefs"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of stocks"
    ></mat-paginator>
  </div>
  <div
    class="modal fade"
    id="actionModal"
    tabIndex="-1"
    aria-labelledby="Stock Action Modal"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div
            class="modal-title fs-5 d-flex flex-row justify-content-start"
            id="actionBtnModalTitle"
          >
            <div class="fs-4">{{ generateActionBtnText() }} Stock</div>
            <div class="my-auto align-items-center ms-2" *ngIf="isBuying">
              <i class="fa-solid fa-shopping-cart fa-shake text-primary"></i>
            </div>
            <div class="my-auto align-items-center ms-2" *ngIf="!isBuying">
              <i class="fa-solid fa-dollar fa-beat text-success"></i>
            </div>
          </div>
        </div>
        <div class="modal-body d-flex flex-row justify-content-center">
          <form *ngIf="actionStock !== undefined || sellStock !== undefined">
            <mat-form-field appearance="fill">
              <mat-label>{{ generateActionBtnText() }}ing Stock</mat-label>
              <input
                class="pe-none"
                matInput
                readonly
                type="text"
                value="{{
                  isBuying
                    ? actionStock
                      ? actionStock.symbol
                      : ''
                    : sellStock
                    ? sellStock.symbol
                    : ''
                }}"
              />
            </mat-form-field>
          </form>
        </div>
        <div class="d-flex flex-row justify-content-around">
          <div
            class="w-50"
            *ngIf="actionStock !== undefined || sellStock !== undefined"
          >
            <div class="text-center">Amount</div>
            <mat-slider
              class="amount_slider_width"
              (input)="selectedStockAmountChangeHandler($event)"
              thumbLabel
              tickInterval="100"
              step="1"
              min="0"
              max="{{ isBuying ? actionStock.shares : sellStock.amount }}"
              aria-label="units"
            ></mat-slider>
          </div>
          <div *ngIf="actionStock !== undefined || sellStock !== undefined">
            Total Price {{ displayPrice(isBuying ? "buy" : "sell") }}$
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="executeTrade()"
            [disabled]="selectedStockAmount === 0"
            data-bs-dismiss="modal"
          >
            {{ generateActionBtnText() }} Stock
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
