<div
  class="h-100 w-100 bg-secondary d-flex flex-column justify-content-center trading_background"
>
  <div class="w-25 mx-auto rounded bg-light p-3">
    <div class="text-center fs-4">Trading</div>
    <div class="d-flex flex-row justify-content-center mt-2">
      <button
        type="button"
        class="btn px-4 me-2"
        [ngClass]="{
          'btn-primary': isBuying,
          'btn-outline-primary': !isBuying
        }"
        (click)="switchModes()"
      >
        <i class="fa-solid fa-shopping-cart"></i>
      </button>
      <button
        type="button"
        class="btn px-4 ms-2"
        [ngClass]="{
          'btn-success': !isBuying,
          'btn-outline-success': isBuying
        }"
        (click)="switchModes()"
      >
        <i class="fa-solid fa-money-bill"></i>
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8 w-75 mx-auto mt-3">
    <table class="w-100" mat-table [dataSource]="stocks">
      <ng-container matColumnDef="Symbol">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Symbol</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.symbol }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Price">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Price</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.price }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Previous Price">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Previous Price
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.oldPrice }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Price Change">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Price Change
        </th>
        <td
          class="text-center"
          mat-cell
          [ngClass]="{
            'text-danger fw-bold':
              calculateDifferenceAndReturnClass(
                element.price,
                element.oldPrice
              ) === 'dec',
            'text-success fw-bold':
              calculateDifferenceAndReturnClass(
                element.price,
                element.oldPrice
              ) === 'inc',
            'text-dark fw-normal':
              calculateDifferenceAndReturnClass(
                element.price,
                element.oldPrice
              ) === 'equal'
          }"
          *matCellDef="let element"
        >
          {{ roundPriceChange(element.price - element.oldPrice) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Total Shares">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Total Shares
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.totalShares ?? 0 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Volume">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Volume</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.volume ?? 0 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Risk">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Risk</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.risk ?? 0 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          <span *ngIf="isBuying">Buy Stock</span>
          <span *ngIf="!isBuying">Sell Stock</span>
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <button
            class="{{ actionBtnClass }} action_btn_text"
            (click)="fireAction(element)"
            data-bs-toggle="modal"
            data-bs-target="#actionModal"
          >
            {{ generateActionBtnText() }}
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
      <tr mat-row *matRowDef="let row; columns: columndefs"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of stocks"
    ></mat-paginator>
  </div>
  <div
    class="modal fade"
    id="actionModal"
    tabIndex="-1"
    aria-labelledby="Stock Action Modal"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="actionBtnModalTitle">
            {{ generateActionBtnText() }} Stock
          </h1>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">
            {{ generateActionBtnText() }} Stock
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
