<div
  class="w-100 h-100 d-flex flex-column justify-content-around stock_dashboard_background"
>
  <div
    class="fw-bold text-center p-4 fs-5 w-25 mx-auto mt-4 rounded"
    id="stock_dashboard_card_body"
  >
    Welcome {{ username }}!
  </div>
  <div class="bg bg-light w-75 mx-auto rounded">
    <div class="card" id="stock_dashboard_card_body">
      <div class="card-body text-center fs-3 fw-bold">
        <div class="card-title d-flex flex-row justify-content-center">
          <i class="fa-solid fa-fire text-danger fa-beat p-2"></i>
          <div class="fa-beat px-3 text-dark">Top Stocks</div>
          <i class="fa-solid fa-fire text-danger fa-beat p-2"></i>
        </div>
        <div id="top_stocks_container">
          <div *ngIf="stocks.length > 0">
            <div class="w-25" *ngFor="let eachStock of stocks; index as i">
              <div class="card bg-dark p-3">
                <span class="text-light fs-6">#{{ i + 1 }} Stock</span>
                <span class="text-light"
                  ><i class="fa-solid fa-arrow-trend-up fa-2xs"></i>
                  {{ eachStock.symbol }}</span
                >
                <span class="text-success"
                  ><i class="fa-solid fa-dollar-sign fa-xs"></i
                  >{{ eachStock.price }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <div class="rounded p-4">
      <div class="card border-0">
        <div class="card-body" id="stock_dashboard_card_body">
          <div class="card-title fs-4 fw-bold">
            <span class="text-dark">Most Recent Trades</span>
            <i class="ms-1 fa-solid fa-stopwatch fa-shake fa-lg text-dark"></i>
          </div>
          <div class="list-group list-group-flush list-group-numbered">
            <div class="list-group-item list-group-item-action">Trade 1</div>
            <div class="list-group-item list-group-item-action">Trade 2</div>
            <div class="list-group-item list-group-item-action">Trade 3</div>
            <div class="list-group-item list-group-item-action">Trade 4</div>
            <div class="list-group-item list-group-item-action">Trade 5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column" id="stock_dashboard_icon_buttons">
      <div class="d-flex flex-row justify-content-center">
        <div class="p-5 rounded shadow me-4 btn" routerLink="/profile">
          <i class="fa-solid fa-user fa-3x text-dark"></i>
        </div>
        <div class="p-5 rounded shadow ms-4 btn" routerLink="/trading">
          <i class="fa-solid fa-money-bill-trend-up fa-3x text-success"></i>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <div class="p-5 rounded me-4 shadow btn" id="stock_btn">
          <i class="fa-solid fa-chart-simple fa-3x text-primary"></i>
        </div>
        <div
          class="p-5 rounded ms-4 shadow btn"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="User settings"
        >
          <i class="fa-solid fa-cog fa-3x text-secondary"></i>
        </div>
      </div>
    </div>
    <div class="rounded p-4">
      <div class="card border-0">
        <div class="card-body" id="stock_dashboard_card_body">
          <div class="card-title fs-4 fw-bold">
            <span class="text-dark">Leaderboard</span>
            <i class="fa-solid fa-trophy text-dark ms-1"></i>
          </div>
          <div class="list-group list-group-flush list-group-numbered">
            <div class="list-group-item list-group-item-action">User</div>
            <div class="list-group-item list-group-item-action">User</div>
            <div class="list-group-item list-group-item-action">User</div>
            <div class="list-group-item list-group-item-action">User</div>
            <div class="list-group-item list-group-item-action">User</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
