<div class="w-100 h-100 d-flex flex-column justify-content-center stock_dashboard_background">
    <div class="bg bg-light w-75 mx-auto">
        <div class="card">
            <div class="card-body text-center fs-3 fw-bold">
                <div class="card-title">
                    Top Stocks
                </div>
                <div id="top_stocks_container">
                    <div *ngIf="stocks.length > 0">
                        <div class="w-25" *ngFor="let eachStock of stocks; index as i">
                            <div class="card bg-dark p-3">
                                <span class="text-light fs-6">#{{i + 1}} Stock</span>
                                <span class="text-light"><i class="fa-solid fa-arrow-trend-up fa-2xs"></i> {{ eachStock.symbol }}</span>
                                <span class="text-success"><i class="fa-solid fa-dollar-sign fa-xs"></i>{{ eachStock.price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>