.stock_dashboard_background {
    background-color: rgb(120, 147, 149);
}

#stock_dashboard_icon_buttons > div > div {
    background-color: rgb(148, 180, 159);
    border-color: rgb(148, 180, 159);
}

#stock_dashboard_icon_buttons > div > div:hover {
    background-color: rgb(180, 207, 176);
    border-color: rgb(180, 207, 176);
}

#stock_dashboard_card_body {
    background-color: rgb(148, 180, 159);
    color: rgb(229, 227, 201);
}

#stock_dashboard_card_body > .list-group > div {
    background-color: rgb(148, 180, 159);
    color: rgb(229, 227, 201);
}
