.stock_dashboard_background {
    background-color: var(--main-background-color);
}

#stock_dashboard_icon_buttons > div > div {
    background-color: var(--sub3-background-color);
    border-color: var(--sub4-background-color);
}

#stock_dashboard_icon_buttons > div > div:hover {
    background-color: lightblue;
    border-color: var(--sub4-background-color);
}

#stock_dashboard_card_body {
    background-color: var(--sub2-background-color);
    color: black;
}

#stock_dashboard_card_body > .list-group > div {
    background-color: var(--sub2-background-color);
    color: black;
}
