<div class="h-100 w-100 d-flex flex-column justify-content-center" id="profile_background">
    <div class="w-100 h-100 d-flex flex-row justify-content-around">
        <div class="bg-light h-50 my-auto">
            <div class="d-flex flex-column justify-content-around h-100">
                <div class="bg-danger">
                    Profile
                </div>
                <div class="bg-success">
                    Info
                </div>
            </div>
        </div>
        <div class="bg-light w-25">
            Another element
        </div>
    </div>
</div>