
#profile_background {
    background-color: rgb(120, 147, 149);
}

#profile_picture {
    height: 15vh;
    max-height: 15vh;
    max-width: 10vw;
}

#profile_picture_placeholder {
    height: 15vh;
    width: 11vw;
    border: 3px solid black;
    cursor: pointer;
}

#profile_picture_placeholder_text {
    font-size: .65em;
    font-weight: bold;
}

.stock_activity_date {
    font-size: .77em;
    opacity: 50%;
}

#profile_info {
    background-color: rgb(148, 180, 159);
    border-color: rgb(229, 227, 201);
    width: fit-content;
    height: fit-content;
}

#recent_stock_activity {
    background-color: rgb(148, 180, 159);
    border-color: rgb(229, 227, 201);
    width: fit-content;
    height: fit-content;
}