#landing_page_signup_inputs > div > input {
    float: right;
}

.landing_page_already_member_link {
    width: fit-content;
}

#background {
    background-image: url("/assets/stock-img.jpeg");
    background-position: center;
    background-size: cover;
    /* Special trick to do green overlay */
    box-shadow: inset 0 0 0 1000px #164a41b5;
    height: 100vh;
}

#row_for_cards {
    margin-top: 10vh;
}

#landing_page_left_card {
    background-color: white;
    box-shadow: 5px 5px 5px;
    min-width: 300px;
    min-height: fit-content;
    height: 75vh;
    overflow-y: scroll;
}

.list-group > * {
    background-color: #164a41;
    border-color: white;
    color: white;
}

#landing_page_right_card {
    background-color: white;
    box-shadow: 5px 5px 5px;
    margin-left: 5vw;
    padding: 10px;
    min-width: 350px;
    min-height: fit-content;
    height: 75vh;
    overflow-y: scroll;
}

