#landing_page_signup_inputs > div > input {
    float: right;
}

.landing_page_already_member_link {
    width: fit-content;
}

#background {
    background-color: var(--main-background-color);
    height: 100vh;
}

#row_for_cards {
    margin-top: 5%;
}

.landing_page_main {
    background-image: url('https://cdn.mos.cms.futurecdn.net/avQoSGU9uTjFCgtCW3Rrhk.jpg');
    background-position: center;
    background-size: auto;
}

#landing_page_left_card {
    background-color: var(--sub2-background-color);
    border-color: rgb(229, 227, 201);
}

.list-group > * {
    background-color: var(--main-background-color);
    border-color: rgb(229, 227, 201);
    color: white;
}

#landing_page_right_card {
    background-color: var(--main-background-color);
    font-weight: bold;
}

#landing_page_right_card {
    background-color: var(--sub2-background-color);
    border-color: var(--main-background-color);
    color: black;
    height: fit-content;
}

#username_landing_input {
    background-color: var(--sub1-background-color);
    border-color: var(--main-background-color);
    color: white;
}

#first_name_landing_input {
    background-color: var(--sub1-background-color);
    border-color: var(--main-background-color);
    color: white;
}

#last_name_landing_input {
    background-color: var(--sub1-background-color);
    border-color: var(--main-background-color);
    color: white;
}

#date_of_birth_landing_input {
    background-color: var(--sub1-background-color);
    border-color: var(--main-background-color);
    color: white;
}

#email_address_landing_input {
    background-color: var(--sub1-background-color);
    border-color: var(--main-background-color);
    color: white;
}

#password_landing_input {
    background-color: var(--sub1-background-color);
    border-color: var(--main-background-color);
    color: white;
}

#confirm_password_landing_input {
    background-color: var(--sub1-background-color);
    border-color: var(--main-background-color);
    color: white;
}
