<div class="position-absolute main_container">
  <span>
    <span>
      <span
        class="bg-light bg-opacity-25 bg-gradient sidebar_contents"
        [ngClass]="{
          sidebar_contents_open: isSidebarExpanded === true && touched === true,
          sidebar_contents_closed:
            isSidebarExpanded === false && touched === true,
          sidebar_contents_not_touched: touched === false
        }"
      >
        <div class="d-flex flex-row sidebar_text">
          <i class="fa-solid fa-user my-auto mx-2"></i>
          <div *ngIf="currentUser !== undefined" class="me-2">
            {{ currentUser.username }}
          </div>
        </div>
        <div>Contents2</div>
        <div>Contents3</div>
        <div>Contents4</div>
        <i
          class="fa-solid text-light toggle_button bg-dark rounded-pill ms-2 p-2 img-thumbnail"
          [ngClass]="{
            'fa-arrow-right': isSidebarExpanded === false,
            'fa-arrow-left': isSidebarExpanded === true
          }"
          matTooltip="{{ getToggleButtonTooltipText() }}"
          (click)="toggleSidebar()"
        ></i>
      </span>
    </span>
  </span>
</div>
