@keyframes sidebar_open_animation {
    from {
        left: calc(0%);
    }
    to {
        left: calc(100%);
    }
}

@keyframes sidebar_closed_animation {
    from {
        left: calc(100%);
    }
    to {
        left: calc(0%);
    }
}


.sidebar_contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 10vw;
    z-index: 1000;
}

.main_container {
    right: 100%;
    height: 100vh;
    width: 10vw;
}

.toggle_button {
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    bottom: calc(95%);
    left: calc(100%);
}

.sidebar_contents_closed {
    animation-name: sidebar_closed_animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.sidebar_contents_open {
    animation-name: sidebar_open_animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.sidebar_contents_not_touched {
    left: calc(0%);
}