<h2>Add Stock</h2>
<mat-dialog-content>
<form
  class="bg-light rounded p-4"
  [formGroup]="addStocksFormGroup"
  (ngSubmit)="onSubmit()"
>
  <div>
    <label for="symbolInput" class="form-label"
      >Stock Symbol<i class="ms-2 fa-solid fa-font"></i
    ></label>
    <input
      type="text"
      class="form-control"
      id="symbolInput"
      formControlName="symbol"
    />
    <div class="form-text">
      The symbol of the stock, less than or equal to 5 letters
    </div>
    <div
      *ngIf="symbol?.invalid && (symbol?.dirty || symbol?.touched)"
      class="alert alert-danger"
    >
      <div
        *ngIf="symbol && symbol.errors?.['symbolAlreadyExists']"
        class="error_style"
      >
        Symbol already exists
      </div>
      <div *ngIf="symbol && symbol.errors?.['required']" class="error_style">
        Symbol is required
      </div>
      <div *ngIf="symbol && symbol.errors?.['maxLength']" class="error_style">
        Symbol must be at most 5 letters
      </div>
      <div *ngIf="symbol && symbol.errors?.['pattern']" class="error_style">
        Symbol cannot contain spaces
      </div>
    </div>
  </div>
  <div class="mt-4">
    <label for="priceInput" class="form-label"
      >Stock Price<i class="ms-2 fa-solid fa-dollar-sign"></i
    ></label>
    <input
      type="number"
      class="form-control"
      id="priceInput"
      formControlName="price"
    />
    <div class="form-text">The price of the stock, cannot be negative</div>
    <div
      *ngIf="price?.invalid && (price?.dirty || price?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="price && price.errors?.['min']" class="error_style">
        Price must be positive
      </div>
    </div>
  </div>

  <div class="mt-4">
    <label for="initialShares" class="form-label"
      >Stock Initial Shares<i class="ms-2 fa-solid fa-cubes-stacked"></i
    ></label>
    <input
      type="number"
      class="form-control"
      id="initialShares"
      formControlName="shares"
    />
    <div class="form-text">
      The initial # of shares of the stock, cannot be negative
    </div>
    <div
      *ngIf="shares?.invalid && (shares?.dirty || shares?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="shares && shares.errors?.['min']" class="error_style">
        Shares must be positive
      </div>
    </div>
  </div>

  <div class="mt-4">
    <label for="initialVolume" class="form-label"
      >Stock Initial Volume<i class="ms-2 fa-solid fa-box-open"></i
    ></label>
    <input
      type="number"
      class="form-control"
      id="initialVolume"
      formControlName="volume"
    />
    <div class="form-text">
      The initial volume of the stock, cannot be negative
    </div>
    <div
      *ngIf="volume?.invalid && (volume?.dirty || volume?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="volume && volume.errors?.['min']" class="error_style">
        Volume must be positive
      </div>
    </div>
  </div>

  <div class="mt-4">
    <label for="initialRisk" class="form-label"
      >Stock Initial Risk<i class="ms-2 fa-solid fa-dice"></i
    ></label>
    <input
      type="number"
      class="form-control"
      id="initialRisk"
      formControlName="risk"
    />
    <div class="form-text">
      The initial risk of the stock, cannot be negative
    </div>
    <div
      *ngIf="risk?.invalid && (risk?.dirty || risk?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="risk && risk.errors?.['min']" class="error_style">
        Risk must be positive
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary mt-3 w-100"
    [disabled]="!addStocksFormGroup.valid"
    [mat-dialog-close]="true"
  >
    Add Stock
  </button>
</form>
</mat-dialog-content>
