
@keyframes loading_anim {
    from {
        opacity: 100%;
    }
    to {
        visibility: none;
        opacity: 0%;
    }
}

@keyframes shift_from_left {
    0% {
        right: 120%;
    }
    100% {
        right: 0%;
    }
}

.portfolio_background {
    background-color: rgb(120, 147, 149);
}

.portfolio_table {
    position: absolute;
    animation-name: shift_from_left;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.loading_displayed {
    display: none;
    visibility: visible;
    opacity: 100%;
}

.loading_disappear {
    opacity: 100%;
    animation-name: loading_anim;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}