<div
  class="h-100 w-100 d-flex flex-column justify-content-center portfolio_background"
>
    <div class="w-75 mx-auto position-relative" id="portfolio_stocks" *ngIf="userOwnedStocks && userOwnedStocks.data.length > 0">
      <table class="w-100 portfolio_table" mat-table [dataSource]="userOwnedStocks">
        <ng-container matColumnDef="Symbol">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Symbol</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.symbol }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Balance">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Balance</th>
          <td class="text-center" mat-cell *matCellDef="let element">{{ element.balance }}</td>
        </ng-container>
        <ng-container matColumnDef="Change">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Change</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.change }}%
          </td>
        </ng-container>
        <ng-container matColumnDef="Current Price">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Current Price</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.currentPrice }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Gain/Loss">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Gain/Loss</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.gainLoss }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumnDefs; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumnDefs"></tr>
      </table>
    </div>
  <div class="mx-auto d-flex flex-column" [ngClass]="{ loading_displayed: displayLoading, loading_disappear: displayLoading === false }">
    <div class="fw-bold fs-4 text-center" [ngClass]="{ 'text-success fa-bounce fs-4': displayLoading === false }">Loading Portfolio</div>
    <div class="text-center mt-3">
      <i class="fa-solid fa-spinner fa-2xl fa-spin" *ngIf="displayLoading"></i>
      <i class="fa-solid fa-check fa-bounce text-success fa-2xl" *ngIf="!displayLoading"></i>
    </div>
  </div>
</div>
