<div
  class="h-100 w-100 d-flex flex-column justify-content-between"
  id="admin_dashboard"
>
  <div class="text-start fs-2 ms-2 fw-semibold">Admin</div>
  <div class="position-relative fs-3 middle_area mx-auto fw-bold">
    <div class="rounded-circle img-thumbnail mx-auto middle_button">
      <div
        class="d-flex flex-column justify-content-center h-100 align-items-center"
        (click)="toggleFirstLayerDisplay()"
        matTooltip="Options"
      >
        <i class="fa-solid fa-bars text-light"></i>
      </div>
      <div
        class="position-absolute first_option rounded-circle shadow-lg img-thumbnail"
        *ngIf="displayOptions"
        [@firstOptionAnimation]
        matTooltip="Stocks"
      >
        <div
          class="d-flex flex-column justify-content-center h-100 align-items-center"
        >
          <i class="fa-solid fa-arrow-trend-up text-light"></i>
        </div>
      </div>
      <div
        class="position-absolute second_option rounded-circle shadow-lg img-thumbnail"
        *ngIf="displayOptions"
        [@secondOptionAnimation]
        matTooltip="Users"
      >
        <div class="d-flex flex-column justify-content-center h-100 align-items-center">
          <i class="fa-solid fa-user text-light"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="text-end me-4 mb-4 fs-4">
    You are logged in as <span class="fw-bold">{{ loggedInUsername }}</span>
  </div>
</div>
