<div
  class="h-100 w-100 d-flex flex-column justify-content-between content_page"
  id="admin_dashboard"
>
  <div class="text-start text-light fs-2 ms-2 fw-semibold">Admin</div>
  <div class="position-relative fs-3 middle_area mx-auto fw-bold">
    <div
      class="rounded-circle border border-2 border-light mx-auto middle_button"
    >
      <div
        class="d-flex flex-column justify-content-center h-100 w-100 rounded-circle align-items-center middle_button_contents"
        (click)="toggleFirstLayerDisplay()"
        matTooltip="Options"
      >
        <i class="fa-solid fa-bars text-light"></i>
      </div>
      <div
        class="position-absolute first_option rounded-circle border border-2 border-light"
        (click)="toggleSubOptionsTwo()"
        *ngIf="displayOptions"
        [@firstOptionAnimation]
        matTooltip="Stocks"
      >
        <div
          class="d-flex flex-column justify-content-center h-100 w-100 rounded-circle align-items-center first_option_contents"
        >
          <i class="fa-solid fa-arrow-trend-up text-light"></i>
        </div>
        <div
          class="position-absolute second_sub1_option rounded-circle shadow-lg img-thumbnail"
          *ngIf="displaySubOptionsTwo"
          [@subOption1Animation]
          matTooltip="Add"
        >
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
            (click)="openDialog('addStock')"
          >
            <i class="fa-solid fa-plus text-light fa-2xs"></i>
          </div>
        </div>
        <div
          class="position-absolute second_sub2_option rounded-circle shadow-lg img-thumbnail"
          *ngIf="displaySubOptionsTwo"
          [@subOption2Animation]
          matTooltip="Delete"
        >
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
            (click)="openDialog('deleteStock')"
          >
            <i class="fa-solid fa-trash text-light fa-2xs"></i>
          </div>
        </div>
        <div
          class="position-absolute second_sub3_option rounded-circle shadow-lg img-thumbnail"
          *ngIf="displaySubOptionsTwo"
          [@subOption3Animation]
          matTooltip="Edit"
        >
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
          >
            <i class="fa-solid fa-pencil text-light fa-2xs"></i>
          </div>
        </div>
        <div
          class="position-absolute second_sub4_option rounded-circle shadow-lg img-thumbnail"
          *ngIf="displaySubOptionsTwo"
          [@subOption4Animation]
          matTooltip="View"
        >
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
          >
            <i class="fa-solid fa-eye text-light fa-2xs"></i>
          </div>
        </div>
      </div>
      <div
        class="position-absolute second_option rounded-circle border border-2 border-light"
        *ngIf="displayOptions"
        [@secondOptionAnimation]
        matTooltip="Users"
      >
        <div
          class="d-flex flex-column justify-content-center h-100 w-100 rounded-circle align-items-center position-relative first_option_contents"
          (click)="toggleSubOptionsOne()"
        >
          <i class="fa-solid fa-user text-light"></i>
        </div>
        <div
          class="position-absolute second_sub1_option rounded-circle shadow-lg img-thumbnail"
          *ngIf="displaySubOptionsOne"
          [@subOption1Animation]
          matTooltip="Add"
        >
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
          >
            <i class="fa-solid fa-plus text-light fa-2xs"></i>
          </div>
        </div>
        <div
          class="position-absolute second_sub2_option rounded-circle shadow-lg img-thumbnail"
          *ngIf="displaySubOptionsOne"
          [@subOption2Animation]
          matTooltip="Delete"
        >
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
          >
            <i class="fa-solid fa-trash text-light fa-2xs"></i>
          </div>
        </div>
        <div
          class="position-absolute second_sub3_option rounded-circle shadow-lg img-thumbnail"
          *ngIf="displaySubOptionsOne"
          [@subOption3Animation]
          matTooltip="Edit"
        >
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
          >
            <i class="fa-solid fa-pencil text-light fa-2xs"></i>
          </div>
        </div>
        <div
          class="position-absolute second_sub4_option rounded-circle shadow-lg img-thumbnail"
          *ngIf="displaySubOptionsOne"
          [@subOption4Animation]
          matTooltip="View"
        >
          <div
            class="d-flex flex-column justify-content-center h-100 align-items-center"
          >
            <i class="fa-solid fa-eye text-light fa-2xs"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-end me-4 mb-4 fs-4">
    You are logged in as <span class="fw-bold">{{ loggedInUsername }}</span>
  </div>
</div>
