.signin_page_main {
    background-image: url("/assets/stock-img.jpeg");
    background-position: center;
    background-size: cover;
    /* Special trick to do green overlay */
    box-shadow: inset 0 0 0 1000px #164a41b5;
    height: 100vh;
}

#signin_card {
    background-color: white;
    box-shadow: 5px 5px 5px;
}