<div
  class="h-100 w-100 d-flex flex-column justify-content-center signin_page_main content_page"
>
  <div class="card w-50 mx-auto p-4" id="signin_card">
    <div class="fw-bold text-center fs-4">Login</div>
    <div>
      <form [formGroup]="signInFormGroup">
        <div class="d-flex flex-column mt-4">
          <div class="d-flex flex-row justify-content-between">
            <label for="signin_username"
              ><i class="fa-solid fa-user me-1"></i><span>Username</span></label
            >
            <input
              class="rounded w-75 p-1"
              formControlName="username"
              id="signin_username"
              type="text"
            />
          </div>
          <div class="d-flex flex-row justify-content-between mt-4">
            <label for="signin_password"
              ><i class="fa-sharp fa-solid fa-key me-1"></i
              ><span>Password</span></label
            >
            <input
              class="rounded w-75 p-1"
              id="signin_password"
              formControlName="password"
              type="password"
            />
          </div>
          <div class="mx-auto mt-4">
            <button
              class="btn btn-secondary"
              [disabled]="!signInFormGroup.valid"
              (click)="signIn()"
              type="button"
            >
              Sign in
            </button>
          </div>
          <a
            class="fw-semibold mt-3 opacity-75 mx-auto link-primary"
            routerLink="/"
            routerLinkActive="active"
            >Become a member?</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
