.signin_page_main {
    background-image: url('https://cdn.mos.cms.futurecdn.net/avQoSGU9uTjFCgtCW3Rrhk.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}