.signin_page_main {
    background-color: rgb(120, 147, 149);
}

.signin_page_card {
    background-color: rgb(148, 180, 159);
    border-color: rgb(148, 180, 159);
}

#signin_card {
    background-color: rgb(148, 180, 159);
}

#signin_password {
    background-color: rgb(148, 180, 159);
    border-color: rgb(229, 227, 201);
}

#signin_username {
    background-color: rgb(148, 180, 159);
    border-color: rgb(229, 227, 201);
}